extends index.pug 



block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/about.css

block content
      .about
        h1 about
        p  akjobportal.com is a job portal
        p
          | Welcome to [Ak_jobsportal], the premier destination for job seekers and employers alike. Our mission is to connect job seekers with the right opportunities and help employers find the best talent for their organizations.
        p
          | We understand that searching for a job or hiring the right candidate can be a daunting task, which is why we&apos;ve made it our goal to simplify the process. Our platform is designed to be user-friendly and intuitive, making it easy for job seekers to find relevant positions and for employers to post job openings and review resumes.
        p
          | At [Ak_jobspoartal], we&apos;re committed to ensuring a positive experience for everyone who uses our platform. Whether you&apos;re looking for your dream job or your next great hire, we&apos;re here to help.
        p
          | Our team consists of experienced professionals who are dedicated to providing exceptional customer service and support. We&apos;re constantly innovating and improving our platform to make it even more effective and efficient for our users.
        p
          | We take pride in the relationships we&apos;ve built with our clients and the success stories that have resulted from our platform. Join us and discover why [Ak_jobspotal] is the preferred choice for job seekers and employers across [All India].
        p
          | Thank you for choosing [Ak_jobsportal]. We look forward to helping you achieve your career goals.
          h1 Disclaimer:
        p
          | The information provided on this job portal website is for general informational purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
        p
          | In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
        p
          | Through this website, you are able to link to other websites which are not under the control of our job portal. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
        p
          | Every effort is made to keep the website up and running smoothly. However, our job portal takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.