extends index.pug 



block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/about.css
      include ../css/post-container.css
      include ../css/post.css

block content
    .post-container 
        #post-vivo.border
            h1 Vivo Company Noida Jobs Vacancy (Apply Now) 2023
            p Apply Online For Vivo Mobile Company Jobs In Greater Noida India. Job Vacancy in Vivo Mobile India Pvt. Ltd. Greater Noida India.
        img(src="../static/vivo.jpg", alt="", width="800px")
        <p>
            VIVO Mobile India Pvt. Ltd, भारत में बहुत ही समय से काम कर रही है और इनके mobile phone ज्यादातर कम कीमत में आते हैं जिसे आम आदमी भी काफी आसानी से खरीद सकता है. आज के समय में Vivo कंपनी इंडिया में पूरी तरह अपना पैर जमा चुकी है और इसीलिए यह कंपनी भारत के कौन कौन में अपने factories और officies खोल रही है.
        </p>
        <p>इन factories और officies में काम करने के लिए vivo mobile india लोगों को job opportunities दे रही है जिसे आप online apply कर सकते हैं. Vivo mobile company भारत में हर जगह job vacancy निकालती रहती है जिसमें greater noida भी शामिल है.</p>
        <h2 class="heading">Vivo Mobile Company में काम करने के फायदे</h2>
        <p>Vivo mobile company में जॉब करने के बहुत सारे फायदे हैं और इस कंपनी में incentives भी अच्छा खासा दिया जाता है. वैसे तो Greater Noida में मोबाइल की बहुत सारी कंपनी है लेकिन Vivo कंपनी टॉप कंपनी में से एक है. इस कंपनी में ज्यादा सैलरी के साथ सुविधा भी अच्छी दी जाती है.</p>
        <p>
         Vivo कंपनी में काम करने का सबसे बड़ा फायदा ये है की यहाँ पर Paid Sick Leave दिया जाता है यानी अगर आप बीमार हो गए और आपको काम से छुट्टी करना पड़ा तो उस छुट्टी के दिन का भी पैसा दिया जायेगा।
        </p>
        <p> आपको office की तरफ से ड्रेस दिया जायेगा जिससे की आपको बदल बदल कर कपड़ा पहनने की टेंशन नहीं रहेगी। <br>
            Life Insurance या Health Insurance में से कोई एक Insurance कंपनी की तरफ से दिया जायेगा, जिससे अगर आप बीमार पड़ते हैं तो आपकी बीमारी के इलाज के लिए Insurance कंपनी पैसा देगी।

        </p>
        <p>
            |Proper Training दिया जायेगा, Vivo कंपनी को ज्वाइन करने के बाद आपको काम से पहले training दिया जायेगा।
        </p>
        <h2 class="heading">Vivo Mobile Company में किस किस तरह के काम होंगे?</h2>
        <p>
            Vivio Mobile Company में कई तरह के काम होते हैं जैसे sales boy, Workers, Helper, Manager, Other Employees, अत्यादि। इन पदों में जॉब नॉलेज और certificate के हिसाब से तय किया जाता है और कई जॉब के लिए तो कोई भी certificate नहीं खोजा जाता है जैसे सफाई कर्मचारी, security guard, अत्यादि।
        </p>
        <div class="apply"> <a href="https://www.linkedin.com/company/vivo-india/jobs/", target="_blank"> यहां आवेदन करें</a></div>