extends index.pug 



block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/about.css
      include ../css/post-container.css

block content
    .post-container
      #post-1.border 
        h1 Amazon Company job New Vacancy
        img(src="../static/amazone.jpeg", alt="image", width="800px")
        p 
          strong Interview Date: 
          | 10 March 2023
        p
          strong Company Name:
          |Amazon

        p 
          strong job title: 
          |Team Leader
        p
          strong Job Location:
          |Mumbai, Maharashtra
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Salary Package:
          |₹22,000 – ₹38,000 a Month
        p 
          strong Job info 
          |You are responsible for ensuring that you have properly trained people and that their needs are addressed so they can focus on their jobs. You will ensure Amazon policies – including attendance tracking – are implemented and administered fairly and consistently. This includes motivating, coaching, reporting, and providing feedback of associates’ performance – including productivity, quality, and safety – as a means for achieving or exceeding Amazon expectations.
          br
          |Managing, on a daily basis, end to end operations for either one large site. Executing inbound and outbound operations, coordinate physical and virtual workflows
          br
          |At Amazon, we’re working to be the most customer-centric company on earth. To get there, we need exceptionally talented, bright, and driven people. Amazon is seeking Team leads for our GSF FC operations team. Amazon is one of the most recognizable brand names in the world
        h3 BASIC QUALIFICATIONS
        p 
         |A graduate with 1-3 yrs of experience in a customer facing environment, warehousing, logistics or manufacturing.
         br
         |Strong execution skills, action oriented, go getter.
         br
         |Resourceful to identify the way to get things done using limited resources.
         .apply
          a(href="https://www.amazon.jobs/en/jobs/2338194/team-leader-spoke") Apply Here
      #post-2.border 
            
        h1 Muthoot Finance Job Openings 2023 – Junior Relationship Executive Posts – Urgent Job For Freshers In Chennai
        img(src="../static/Muthoot.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          | Junior Relationship Executive
        p 
          strong Salary Package:
          |₹22,000 – ₹32,000 /M
        p
          strong Company Name:
          |Muthoot Finance
        p
          strong Job Location:
          |Chennai, Tamil Nadu
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        |Handling Sales & Operation At Branch of banking & NBFC products to Customers. Products might include either Gold loan, Personal loans, Home loans, Auto Loans ,vehicle Loans Mortgage, Loans, Or other allied products or all of these.
        br
        | · Prospecting and identifying new leads and pitching to the customers at Branch.
        p
        | · Providing client service to existing customers. They are required to manage all aspects of customer relationships
        p
        |· Corporate sales to get premium and HNI clients
        br
        | · Strategizing & implementing ways to achieve sales targets.
        p 
          |Competencies and Skills Required
        br
        |· Communication skills ( Regional Language with Basic English)
        br
        | · Pleasing and positive attitude
        br
        |· Confidence and Presentation skills
        br
        |· Analysing skills
        br
        |· Good sales and negotiation skills  
        .apply
          a(href="https://career.muthootfinance.com/Pages/CareerPortal/frmApplicantJobSearch.aspx?d37c3bb0038bd55ea687d5e911208273#") Apply Here
      #post-3.border 
            
        h1 Muthoot Finance Job Openings 2023 – Junior Relationship Executive Posts – Urgent Job For Freshers In Chennai
        img(src="../static/chegg.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          | Data Scientist I
        p 
          strong Salary Package:
          |₹22,000 – ₹40,000 /M
        p
          strong Company Name:
          |Chegg
        p
          strong Job Location:
          |New Delhi
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        |The Analytics team is central to Chegg – we use data and analyses to support every business line and the marketing and product organizations.  We are a team composed of analysts, data scientists, economists, mathematicians, statisticians and engineers.  Our group is part of the larger data organization at Chegg that focuses on enabling data and insights at scale.
        br
        | We are looking for a highly motivated and a self-starter Data Scientist to help understand and build predictability around business performance; and support scoping, launch and measuring impact of product initiatives. This person should be able to provide meaningful insights into business performance
        p
        | The incumbent will work closely with analysts and business community on a day to day basis. We are looking for someone with exceptional data mining
        p
          strong Responsibilities:
        br
        | · Work with Business Intelligence and Data Engineering teams to ensure that the data solutions being built are aligned with Analytics requirements.
        p 
          |Build and automate dashboards and compelling data visualizations to provide meaningful insights into business performance. Provide support for data analysis.
        br
        |· Working with marketing managers, data engineers and product owners to maintain and improve measurement capabilities.
        br
        p 
          strong Requirements:
        br
        |· Bachelors’/Masters’ Degree in Computer Science/Business/Marketing/IT/Statistics, specializing in Data Analysis, Business Intelligence, or related fields.
        br
        |· 1-3 years of experience in data visualization, data analysis, systems analysis, extracting data from multiple sources, transforming into meaningful information and delivering meaningful insights into business performance.
        br
        |· Experience working in on/offshore development model.
        .apply
          a(href="https://osv-chegg.wd5.myworkdayjobs.com/en-US/Chegg/details/Data-Scientist-II_R2775-1?locationCountry=c4f78be1a8f14da0ab49ce1162348a5e") Apply Here
      
      #post-4.border 
            
        h1 Flipkart Job Recruitment 2023 – Private Company Job – Job For Freshers
        img(src="../static/flipkart.png", alt="image", width="800px")
        p 
          strong job Tilte : 
          | Assistant Manager
        p 
          strong Salary Package:
          |₹25,000 – ₹32,000/M
        p
          strong Company Name:
          |Flipkart
        p
          strong Job Location:
          |Guwahati, Assam
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        |Flipkart is India’s largest e-commerce marketplace with a registered customer base of over 150 million. In the 10 years since we started, Flipkart has come to offer over 100 million products across 120+ categories including Smartphones, Books, Media, Consumer Electronics, Furniture, Fashion and Lifestyle
  
        p
          strong Skills Required:
        br
        | Breadth/Multitasking(Case Based), Execution/Speed, People Management, Phone Screening, Exploratory Discussion, Problem Solving
        p 
         
          strong Requirements:
        br
        | 4 to 6 Years of experiance
        br
  
        .apply
          a(href="https://www.flipkartcareers.com/#!/job-view/assistant-manager-fc-ops-guwahati-palasbari-grocery-fc-assam-breadth-multitasking-case-based-execution-speed-people-management-phone-screening-exploratory-discussion-problem-solving-2023030815292851") Apply Her
      #post-5.border 
            
        h1 Kotak Mahindra Bank Job Recruitment 2023 – Private Bank Job Near Me – Upcoming Job In West Bengal
        img(src="../static/ktk.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          | Collections Executive
        p 
          strong Salary Package:
          |₹25,000 – ₹35,000 /M
        p
          strong Company Name:
          |Kotak Mahindra Bank
        p
          strong Job Location:
          |Siliguri, West Bengal
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        |  To Ensure Quality portfolio.To focus on improving Collections in the area assigned – individually or in a team / as a team.
        br
        | To ensure adherence MOPP Norms.
        p
        | To adhere to the BANKS processes and procedures.
        p

        p 
          strong Requirements:
        br
        | . Passion for Collection.
        br
        |·Willing to Take challenges and responsibility
        br
        |. Should have the ability to convince the customer to pay on our terms and conditions
        br
        |.Experience Profile1-3 years
        br
        |.Educational Qualifications Graduate & above
        .apply
          a(href="https://hcbt.fa.em2.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX/requisitions?lastSelectedFacet=POSTING_DATES&selectedPostingDatesFacet=30") Apply Here
      #post-6.border 
            
        h1 Freshers Voice Process || Call Centre || BPO | Customer Support
        img(src="../static/cc.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          | customer support 
        p 
          strong Salary Package:
          |*Salary -upto35k+ Incentives+6day's work (Depends on interview)
        p
          strong Company Name:
          |Millenial Impact
        p
          strong Job Location:
          |Gurgaon/Gurugram( MG Road, Sikandarpur ), Delhi / NCR( Ghitorni, Guru Arjun Nagar, Chattarpur )
        p
          strong  Qualification :
          | 12th…
        p 
          strong Job Info:
        p.hindi 
        |  Excellent Opportunity for you to work with Domestic/International BPO
        br
        | *Fresher Candidates Can also apply
        p
        | *Process Inbound/outbound/sales
        p
        |
        p 
          strong Requirements:
        br
        | .For international process sales experienced must required.
        br
        |.In international process one side cab are also there.
        br
        |. Should have the ability to convince the customer to pay on our terms and conditions
        br
        |.* Interested Candidate Can Apply now
        br
        |12th… and Graduate 
        .apply
          a(href="https://www.naukri.com/job-listings-freshers-voice-process-call-centre-bpo-customer-support-millenial-impact-gurgaon-gurugram-delhi-ncr-0-to-4-years-010323005976?src=jobsearchDesk&sid=16786853855175187&xp=2&px=1") Apply Here
      #post-7.border 
            
        h1 Indigo Airlines Job Vacancy 2023 – Trainee – Applied Analytics Program Posts – Private Company Job
        img(src="../static/IndiGo.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          |  Security Executive
        p 
          strong Salary Package:
          |20k-28k/M (Depends on interview)
        p
          strong Company Name:
          |Indigo Airlines
        p
          strong Job Location:
          |Gurgaon, Haryana
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        |  IndiGo announces a 1 Year exclusive best-in-class “Aviation Applied Analytics Program” with theobjective of building a versatile next-gen team skilled at data-driven insights for business decision-making.


        br
        | *The Program includes in-depth
        p
        | *Technical Training on Descriptive Statistics and Data Cleaning and Data
        p
        |*Analytics Tools like SQL/PowerBI/Tableau/R from Industry experts as well as
        p 
          strong Requirements:
        br
        | *Bachelor’s Degree in Business, Economics, Statistics, Engineering or any STEM Vertical
        br
        |*Basic Knowledge of MS Office (particularly Excel and PowerPoint)
        br
        |* Excellent Oral and Written Communication Skills
        br
        |.* Interested Candidate Can Apply now
        br
        | * Graduate 
        br
        |* Experience: 0-2 years
        .apply
          a(href="https://goindigo.app.param.ai/jobs/trainee-applied-analytics-program/") Apply Here
      #post-9.border 
            
        h1 Flipkart Job Openings In Lucknow – HR Partner Posts – Latest Job Openings For Freshers
        img(src="../static/flipkart.png", alt="image", width="800px")
        p 
          strong job Tilte : 
          |  HR Partner
        p 
          strong Salary Package:
          |₹25,000 – ₹40,000/M (Depends on interview)
        p
          strong Company Name:
          |Flipkart
        p
          strong Job Location:
          |Lucknow, Uttar Pradesh
        p
          strong  Qualification :
          | Bachelor’s Degree
        p 
          strong Job Info:
        p.hindi 
        | About the Role This role will work closely with the Category Sales State Heads/leaders to drive the talent charter for the Sales Organization to ensure high engagement levels and differentiated results.


        br
        | *HR Business partnering & Organizational Development for the Sales organization
        p
        | *Own, drive and be the ambassador of culture in the organization span.
        p
        |*Work with the TA team to drive hiring and ensure manpower requirement is met as per AOP
        p 
          
        br
        |Own, drive, advise and support line managers through the annual HR processes around performance, promotions, bonus, Incentives, annual pay, Engagement survey, etc.
        br
        |*Responsible for anchoring the new hire onboarding including Orientations and Immersion plans
        br
        |* Implement and drive HR programs and in some cases also act as a SPOC for certain critical HR processes.
        br
        |.* Drive adherence to HR process, metrics and plan
        br
        | * Act as a go-to person for business managers and teams on organizational policy matters 
        br
        |* Experience in Startup culture, high learnability, and ability to manage change
        .apply
          a(href="https://www.flipkartcareers.com/#!/job-view/hr-partner-lucknow-na-hr-business-partnering-employee-engagement-stakeholder-management-2023031312342152") Apply Here
      #post-10.border 
            
        h1 Blended Process Hiring ||Customer Service || Noida. ||30K Salary
        img(src="../static/Call-Center.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          | customer service ,Customer Success, Service & Operations
        p 
          strong Salary Package:
          | -upto35k+ Incentives+6day's work (Depends on interview)
        p
          strong Company Name:
          |Human Before Resource
        p
          strong Job Location:
          |Noida, Hapur, Ghaziabad, Meerut, Greater Noida, Indirapuram
        p
          strong  Qualification :
          | 12th…
        p 
          strong Job Info:
        p.hindi 
        | * Need Immediate Joiners
        br
        | * Should be well aware of computer work.
        p
        | * Good communication skills
        p
        | * Should be ready to make a career in BPO/ITES industry
        p 
        | * Call/WhatsApp HR TEAM:- 8697458525
        p 
          strong Requirements:
        
        |* Interested Candidate Can Apply now
        br
        | *  NO need graduation 
        .apply
          a(href="https://www.naukri.com/job-listings-30k-salary-blended-process-hiring-customer-service-noida-human-before-resource-noida-hapur-ghaziabad-meerut-greater-noida-indirapuram-0-to-3-years-110323003477?src=jobsearchDesk&sid=16789383042074110&xp=1&px=1&nignbevent_src=jobsearchDeskGNB") Apply Here
      #post-11.border 
            
        h1 Flipkart Job Openings In Lucknow – HR Partner Posts – Latest Job Openings For Freshers
        img(src="../static/ccc.jpg", alt="image", width="800px")
        p 
          strong job Tilte : 
          |  Telesales
        p 
          strong Salary Package:
          |CTC: 1.5 LPA to 4.5 LPA (Depends on interview)
        p
          strong Company Name:
          |THR Consultants
        p
          strong Job Location:
          |Noida, Gurgaon/Gurugram, Delhi / NCR
        p
          strong  Qualification :
          | Undergraduate/Graduate/Post Graduate/MBA/B.tech
        p 
          strong Job Info:
        p.hindi 
        | We are hiring for multiple clients like Policybazaar, PaisaBazaar, Lenskart,Indidalends, My loan Care,Kenko,Teleperformance,Max Bupa,Indiabulls,Datacultr,Tech Mahindra,Research & Ranking, Talent Edge, Teleperformance, Axis Bank,Hike Education & few more clients,
        br
        p 
        | *Interested candidates may connect to Ms.Rolyma Khare @ +91-7817-000-490 (10.00 Am to 6.00 PM)
        p
        strong Experience Band:
        | Fresher to 05 years of experience in relevant 
        p    
        br
        |* Contacting potential or existing customers to inform them about a product or service using scripts.
        p 
        br
        |* Converting leads and opportunities generated through Cold Calling, Digital Marketing, etc into appointments by pitching
        p 
        br
        |* accurate lenders and products as per the system recommendation and customer requirement.
        br
        |* Asking questions to understand customer requirements and close sales.
        p 
        br
        |* Follow-up on appointments with lenders and customers for pickups/logins.
        br
        |* Enter and update customer information in the database.
        p 
        |* Generate references from existing customers.
        br
        |* Handle grievances to preserve the company's reputation.
        br
        |* Go the extra mile to meet sales target and facilitate future sales.
        p 
          strong Role Requirement -
        p 
        | Proven experience as telesales representative or other sales.
        br
        | Fresher/ up to one year experience of experience & experience in retail lending would be an advantage.
        br
        | Passion for sales, meeting targets and chasing for high numbers.
        br
        | Good knowledge of relevant computer programs (e.g. CRM software) and telephone systems.
        br
        | Ability to learn about products and services and describe/explain them to prospects.
        br
        | Good knowledge of English - Should be able to understand and comprehend training material.
        br
        | Excellent communication and interpersonal skills.
        br
        | Cool-tempered nd able to handle rejection.
        br
        | Outstanding negotiation skills with the ability to resolve issues and address complaints.
        .apply
          a(href="https://www.naukri.com/job-listings-hiring-for-bpo-clients-ii-inbound-ii-outbound-ii-chat-process-iie-mail-thr-consultants-noida-gurgaon-gurugram-delhi-ncr-0-to-5-years-070122007580?src=jobsearchDesk&sid=16789383042074110&xp=2&px=1&nignbevent_src=jobsearchDeskGNB") Apply Here
