extends index.pug 

block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/about.css
      include ../css/post.css

block content 
  .main-container
    <div class="post">
      <figure class="post-pick">
        <a href="all-link#post-11">
          <img src="../static/ccc.jpg" alt="", width="300px">
        </a>
      </figure>
      <div class="content-wrap">
        <header class="header-entry">
          <h2 class="entry-title">
              <a href="all-link#post-11"> Hiring For BPO clients ||  Chat Process IIE-mail || Inbound , Outbound
              </a>
          </h2>
        </header>
        <div class="entry-content">
          <p>
            |Job Title: Outbound/Inbound/Regional/E-mail/Chat Process Salary: <b>CTC: 1.5 LPA to 4.5 LPA</b> Company Name: THR Consultants Job Location: Noida, Gurgaon/Gurugram, Delhi / NCR Qualification :  12th… Undergraduate/Graduate/Post Graduate/MBA/B.tech
          </p>
        </div>
      </div>
    </div>

      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-10">
            <img src="../static/Call-Center.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-10"> Blended Process Hiring ||Customer Service || Noida. ||30K Salary
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              |Job Title: customer suport Salary Package: ₹25,000 – 30,000 a Month Company Name: Human Before Resource Job Location: Noida, Hapur, Ghaziabad, Meerut, Greater Noida, Indirapuram Qualification :  12th…
            </p>
          </div>
        </div>
      </div>
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-5">
            <img src="../static/ktk.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-5"> Kotak Mahindra Bank Job Recruitment 2023 – Private Bank Job Near Me – Upcoming Job In West Bengal
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: Collections Executive Salary Package: ₹25,000 – ₹35,000 a Month Company Name: Kotak Mahindra Bank Job Location: Siliguri, West Bengal Qualification :  Bachelor’s Degree Job …
            </p>
          </div>
        </div>
      </div>

  .main-container
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-6">
            <img src="../static/cc.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-6"> Freshers Voice Process || Call Centre || BPO | Customer Support
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: customer suport Salary Package: ₹25,000 – ₹35,000 a Month Company Name: Millenial Impact Job Location: Gurgaon/Gurugram( MG Road, Sikandarpur ), Delhi / NCR( Ghitorni, Guru Arjun Nagar, Chattarpur ) Qualification :  12th…
            </p>
          </div>
        </div>
      </div>