extends index.pug 


block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/dropdown.css
      include ../css/post.css

block body
    body
    .container5
    .container3
      h1 Find your Dream Job
      .dropdown
        button.dropbtn Select a Job Category
        .dropdown-content
          a(href='mobile') Job in Mobile Company
          a(href='callcenter') Call Center
          a(href='it_job') IT Jobs
          a(href='wfh') Work From Home
    .main-container
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-11">
            <img src="../static/ccc.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-11"> Hiring For BPO clients ||  Chat Process IIE-mail || Inbound , Outbound
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              |Job Title: Outbound/Inbound/Regional/E-mail/Chat Process Salary: <b>CTC: 1.5 LPA to 4.5 LPA</b> Company Name: THR Consultants Job Location: Noida, Gurgaon/Gurugram, Delhi / NCR Qualification :  12th… Undergraduate/Graduate/Post Graduate/MBA/B.tech
            </p>
          </div>
        </div>
      </div>
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-10">
            <img src="../static/Call-Center.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-10"> Blended Process Hiring ||Customer Service || Noida. ||30K Salary
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              |Job Title: customer suport Salary Package: ₹25,000 – 30,000 a Month Company Name: Human Before Resource Job Location: Noida, Hapur, Ghaziabad, Meerut, Greater Noida, Indirapuram Qualification :  12th…
            </p>
          </div>
        </div>
      </div>

      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-9">
            <img src="../static/flipkart.png" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-9"> Flipkart Job Openings In Lucknow – HR Partner Posts – Latest Job Openings For Freshers
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: HR Partner Salary Package: ₹25,000 – ₹40,000 a Month Company Name: Flipkart Job Location: Lucknow, Uttar Pradesh Qualification :  Bachelor’s Degree Job Info: About …
            </p>
          </div>
        </div>
      </div>

      <div class="post">
        <figure class="post-pick">
          <a href="all-mobile#post-vivo">
            <img src="../static/vivo.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-mobile#post-vivo"> Vivo Company Noida Jobs Vacancy (Apply Now) 2023
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Apply Online For Vivo Mobile Company Jobs In Greater Noida India. Job Vacancy in Vivo Mobile India Pvt. Ltd. Greater Noida India.
            </p>
          </div>
        </div>
      </div>

      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-7">
            <img src="../static/IndiGo.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-7"> Indigo Airlines Job Vacancy 2023 – Trainee – Applied Analytics Program Posts – Private Company Job
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: Job Title: Security Executive Salary Package: ₹20,000 – ₹28,000 a Month Company Name: Indigo Airlines Job Location: Gurgaon, Haryana Qualification :  Bachelor’s Degree Job Info: IndiGo announces a …
            </p>
          </div>
        </div>
      </div>
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-6">
            <img src="../static/cc.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-6"> Freshers Voice Process || Call Centre || BPO | Customer Support
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: customer suport Salary Package: ₹25,000 – ₹35,000 a Month Company Name: Millenial Impact Job Location: Gurgaon/Gurugram( MG Road, Sikandarpur ), Delhi / NCR( Ghitorni, Guru Arjun Nagar, Chattarpur ) Qualification :  12th…
            </p>
          </div>
        </div>
      </div>
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-5">
            <img src="../static/ktk.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-5"> Kotak Mahindra Bank Job Recruitment 2023 – Private Bank Job Near Me – Upcoming Job In West Bengal
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: Collections Executive Salary Package: ₹25,000 – ₹35,000 a Month Company Name: Kotak Mahindra Bank Job Location: Siliguri, West Bengal Qualification :  Bachelor’s Degree Job …
            </p>
          </div>
        </div>
      </div>

      .post
        figure.post-pick
          a(href='all-link#post-1')
            img(src='../static/amazone.jpeg', alt='', width='300px')
        .content-warp
          header.header-entry
            h2.entry-title
              a(href='all-link#post-1')
               | Amazon Company job New Vacancy
          .entry-content
            p
              Job Title: Team Leader Salary Package: ₹22,000 – ₹38,000 a Month Company Name: Amazon Job Location: Mumbai, Maharashtra Qualification :  Bachelor’s Degree Job Info: You are …
      .post
        figure.post-pick
          a(href='all-link#post-2')
            img(src='../static/Muthoot.jpg', alt='', width='300px')
        .content-warp
          header.header-entry
            h2.entry-title
              a(href='all-link#post-2')
                | Muthoot Finance Job Openings 2023 – Junior Relationship Executive Posts – Urgent Job For Freshers In Chennai
          .entry-content
            p
              | Job Title: Junior Relationship Executive Salary Package: ₹22,000 – ₹32,000 a Month Company Name: Muthoot Finance Job Location: Chennai, Tamil Nadu Qualification :  Bachelor’s Degree Job …
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-3">
            <img src="../static/chegg.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-3"> Chegg Job Openings For Freshers 2023 – Data Scientist I Posts – 8 Hours Job For Data Scientist</a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: Data Scientist I Salary Package: ₹22,000 – ₹40,000 a Month Company Name: Chegg Job Location: New Delhi Qualification :  Bachelor’s Degree Job Info: The …
            </p>
          </div>
        </div>
      </div>
      <div class="post">
        <figure class="post-pick">
          <a href="all-link#post-4">
            <img src="../static/flipkart.png" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-link#post-4"> Flipkart Job Recruitment 2023 – Private Company Job – Job For Freshers
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Job Title: Assistant Manager Salary Package: ₹25,000 – ₹32,000 a Month Company Name: Flipkart Job Location: Guwahati, Assam Qualification :  Bachelor’s Degree Job Info: Flipkart is …
            </p>
          </div>
        </div>
      </div>
      
