extends index.pug 

block style 
    style
      include ../css/footer.css
      include ../css/topnave.css
      include ../css/about.css
      include ../css/post.css

block content
    .main-container
      <div class="post">
        <figure class="post-pick">
          <a href="all-mobile#post-vivo">
            <img src="../static/vivo.jpg" alt="", width="300px">
          </a>
        </figure>
        <div class="content-wrap">
          <header class="header-entry">
            <h2 class="entry-title">
                <a href="all-mobile#post-vivo"> Vivo Company Noida Jobs Vacancy (Apply Now) 2023
                </a>
            </h2>
          </header>
          <div class="entry-content">
            <p>
              Apply Online For Vivo Mobile Company Jobs In Greater Noida India. Job Vacancy in Vivo Mobile India Pvt. Ltd. Greater Noida India.
            </p>
          </div>
        </div>
      </div>
